<phpunit>
    <testsuites>
        <testsuite name="all">
            <directory>unit</directory>
            <directory>integration</directory>
            <directory>functional</directory>
        </testsuite>
    </testsuites>

    <!-- add src to includepath -->
    <php>
        <includePath>../src</includePath>
    </php>
</phpunit>